@page
@model CeilInnHotelSystem.Pages.ForbiddenModel
@{
	Layout = "_ErrorLayout";
}
<div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
		<div class="pd-10">
			<div class="error-page-wrap text-center">
				<h1 class="text-danger">Warning</h1>
				<h3>Error: 403 Forbidden</h3>
				<p>Sorry, access to this resource is fobidden.<br>You must have higher permission to access</p>
				<div class="pt-20 mx-auto max-width-200">
					<a href="Index" class="btn btn-primary btn-block btn-lg">Back To Home</a>
				</div>
			</div>
		</div>
	</div>