@using CeilInnHotelSystem.Model;
@using CeilInnHotelSystem.Utility;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> _SignInManager
@inject UserManager<AppUser> _UserManager
<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Ceil Inn Hotel</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/sweetalert2/sweetalert2.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <div class="menu-icon dw dw-menu"></div>
            <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
            
        </div>
        <div class="header-right">
            @if (_SignInManager.IsSignedIn(User))
            {
               
                <div class="user-info-dropdown ">
                    <div class="dropdown ">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" style="cursor:pointer;">
                            <span class="user-icon">
                                <img src="~/vendors/images/photo1.jpg" alt="">
                            </span>
                            <span class="user-name">@User.Identity.Name</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                            @* <a class="dropdown-item" href="/UserProfile?id=@_UserManager.GetUserId(User)"><i class="dw dw-user1"></i> Profile</a> *@
                            <a class="dropdown-item" href="/Logout"><i class="dw dw-logout"></i> Log Out</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="user-info-dropdown">
                    <a class="btn btn-primary" asp-page="/Login">Login</a>
                </div>
            }
        </div>
    </div>

    <div class="left-side-bar">
        
        <div style="display:flex" class="brand-logo  justify-content-center">
            
            <div style="display: flex; flex-direction: column; justify-content: center">
                <h5 class="text-white  text-center">Ceil Inn System</h5>
            </div>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    @* <li>
                        <a href="/Index" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
                        </a>
                    </li> *@
                    @if (User.IsInRole(RoleConstant.ADMIN))
                    {
                        <li>
                            <a href="/EmployeePage/Employee" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-list3"></span><span class="mtext">Employees</span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole(RoleConstant.EMPLOYEE) || User.IsInRole(RoleConstant.ADMIN))
                    {
                        <li>
                            <a href="/CustomerPage/Customer" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-list3"></span><span class="mtext">Customers</span>
                            </a>
                        </li>
                        <li>
                            <a href="/RoomPage/Room" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-list3"></span><span class="mtext">Rooms</span>
                            </a>
                        </li>
                        <li>
                            <a href="/occupancypage/occupancy" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-list3"></span><span class="mtext">Occupancys</span>
                            </a>
                        </li>
                        <li>
                            <a href="/PaymentPage/Payment" class="dropdown-toggle no-arrow">
                                <span class="micon dw dw-list3"></span><span class="mtext">Payments</span>
                            </a>
                        </li>
                    }
@* 
                    @if (User.IsInRole(RoleConstant.EMPLOYEE) || User.IsInRole(RoleConstant.ADMIN) || User.IsInRole(RoleConstant.CUSTOMER))
                    {
                       
                    } *@
                   
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<div class="footer-wrap pd-20 mb-20 card-box">
    DeskApp - Bootstrap 4 Admin Template By <a href="https://github.com/dropways" target="_blank">Ankit Hingarajiya</a>
    </div>*@

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@

    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>
    <script src="~/src/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/vendors/scripts/dashboard.js"></script>
    <script src="~/src/plugins/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/src/plugins/sweetalert2/sweet-alert.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>